<div ng-controller="emulator">
    <div class="row pt-1 g-1">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 order-sm-3 order-xl-1">
            <amx-nx-connection-config></amx-nx-connection-config>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 order-sm-1 order-xl-2">
            <amx-nx-emulator></amx-nx-emulator>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 order-sm-2 order-xl-3">
            <amx-nx-log></amx-nx-log>
        </div>
    </div>


</div>